<div class="example-container">
  <!-- Buscador de Cargos -->
  <mat-form-field class="search-field">
    <mat-label>Busqueda general</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Cargo -->
      <ng-container matColumnDef="idCargo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{row.idCargo}}</td>
      </ng-container>

      <!-- Nombre Cargo -->
      <ng-container matColumnDef="nombreCargo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cargo</th>
        <td mat-cell *matCellDef="let row">{{row.nombreCargo}}</td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button (click)="openDialog(row)">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-button color="accent" (click)="delete(row.idCargo)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    </table>

    <!-- Botón para agregar nuevo cargo -->
    <button mat-fab color="primary" style="float: right;" (click)="openDialog()">
      <mat-icon>save</mat-icon>
    </button>

    <!-- Paginador -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of cargos"></mat-paginator>
  </div>
</div>
