.example-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  margin-left: 10px;
}
/* Estilo para el snackbar amarillo (para UPDATE) */
.yellow-snackbar {
  background-color: #FFEB3B !important; /* Amarillo */
  color: black !important;              /* Color del texto */
  font-size: 16px !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  padding: 10px 20px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
}

/* Estilo para el snackbar verde (para CREATE) */
.green-snackbar {
  background-color: #4CAF50 !important; /* Verde */
  color: white !important;              /* Color del texto */
  font-size: 16px !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  padding: 10px 20px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
}

/* Estilo para el snackbar de error (para mostrar errores) */
.error-snackbar {
  background-color: #f44336 !important;  /* Rojo */
  color: white !important;
  font-size: 16px !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  padding: 10px 20px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
}
